
.page{background:#f6f6f6;}
.theme-default-content{background:#fff;}
.theme-default-content blockquote{
	margin:0.5em 0 1em;padding:10px 15px;
 display:block;
 border-left:8px solid #dddfe4;
 background:#eef0f4;
 overflow:auto;
 word-break:break-word!important
}